* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size:  .9em ;
}
legend{
    color:dimgrey;
    margin: .5em 0 .5em 0;
    font-size: 1.3em;
}

.grid-container {
    display: grid;
    border-style: solid;
    border-color: red;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 2px;
    width: 100vw;
    height: 100vh;
}

.network-grid {
    position: relative;
    border-style: solid;
    border-color: blue;
    grid-row: 1/9;
    grid-column: 1/7;

}

.network-statistics-grid{
    border-style: solid;
    border-color: darkorchid;
    grid-row: 1/9;
    grid-column: 7/9;
}

.data-preview-grid {
    border-style: solid;
    border-color: yellow;
    grid-row: 1/9;
    grid-column: 9/ 13;

    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 2px;
}

.inner-grid-logo{
    border-style: solid;
    border-color:mediumvioletred;
    grid-row: 1/3;
    grid-column: 1/13;
}

.inner-grid-tables{
    border-style: solid;
    border-color:mediumvioletred;
    grid-row: 3/12;
    grid-column: 1/13;
    overflow-x: scroll;
    overflow-y: scroll;
}

.inner-grid-submit{
    border-style: solid;
    border-color:mediumvioletred;
    grid-row: 12/13;
    grid-column: 1/13;
}

.range-slider-grid {
    position: relative;
    border-style: solid;
    border-color: brown;
    grid-row: 9 / 10;
    grid-column: 1/9;
    
}

.range-slider-grid > div{
  position: absolute;
  bottom : 0;
  left: 80px;
  right: 80px;
  height: 15px;
}

.range-slider-side{
border-style: solid;
border-color:coral;
grid-row: 9/10;
grid-column: 9/13;
}


.timeline-grid {
    border-style: solid;
    border-color: violet;
    grid-row: 10 / 13;
    grid-column: 1/9;
}

.timeline-zoom-range-grid{
    border-style: solid;
    border-color:darkcyan;
    grid-row: 10 / 13;
    grid-column: 9/11;

    padding-left: 1em;
}


.timeline-measures-grid{
    border-style: solid;
    border-color:deeppink;
    grid-row: 10 / 13;
    grid-column: 11/13;

    width:100%; 
    height:100%; 
    padding-left: 1em;
    overflow-y: scroll;
}

.c-before-color { background: limegreen; }
.c-center-color { background: cornflowerblue; }
.c-after-color { background: red; }
.c-4-color { background: yellow; }


.block{
    width:100%;
    display: block;
    margin:1em 0;
}
.block >label{
    display: inline-block;
    text-align: right;
    width:25px;
}
.block> select{
    vertical-align:top;
}


.bottomleft {
    position: absolute;
    bottom: 0px;
    left: 16px;
    font-size: 18px;
  }
  
.bottomright {
    position: absolute;
    bottom: 0px;
    right: 2px;
  }


.btn-xs{
    width: 20px;
    padding: 0;
}

.cursor-pointer{
    cursor: pointer;
  }
