* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid_container {
    display: grid;
    border-style: solid;
    border-color: red;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 1px;
    width: 100vw;
    height: 100vh;
}

.network {
    border-style: solid;
    border-color: blue;
    grid-column: 1/11;
    grid-row: 1/11;
}

.side {
    border-style: solid;
    border-color: yellow;
    grid-column: 11 / 13;
    grid-row: 1/13;
}

.timeline {
    border-style: solid;
    border-color: violet;
    grid-row: 11 / 13;
    grid-column: 1/11;
}