<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Yichen</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- /STYLES -->

    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script src="{{ url_for('static', filename='js/echarts.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/nouislider.js')}}"></script>

    <script src="{{ url_for('static', filename='js/vis.js')}}"></script>
    <script src="{{ url_for('static', filename='js/yc.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dn.js')}}"></script>

    <!-- /SCRIPTS -->

</head>

<body>
    <a href="/uniuni/relabel">UniUni Relabel</a>
    <br>
    <a href="/snt/billing_repush">SNT billing repush</a>
</body>

</html>