---
openapi: 3.1.0
info:
  title: "PostNL T&T International Client API"
  description: |
    # API description
    ## Introduction
      <span>The PostNL Track and Trace International client API allows users to retrieve and submit data from/to 
      PostNL. You can generate packet labels and assist label, close out and request the tracking status of 
      items. The web service is designed to be used for communication between applications and not 
      intended for manual human interaction. It is implemented using the REST principles and requires an 
      HTTPS connection.</span>

    ## Authentication
      <span>Access to the web service is limited to authorised clients only. PostNL will provide a acceptance and
      production API key for each customer. This private key needs to be included in the header of every
      request to identify itself and receive access to the restricted functions of the web service. An
      acceptance environment is available for integration purposes. Once the requests on the acceptance
      environment have been verified, an API key for the production environment can be obtained from your
      account manager. The JSON header should look similar to.</span>
      <pre class="code-in-text"><code>  {
        "api_key": "your-api_key-here",
        "Content-Type": "application/json"
      }</code></pre>


    ## Versioning
      <span>The version of the web service is part of the URL. Each new version of the web service, for example 
      when additional functions have been added, will use a different URL (but the same domain). 
      Therefore, previous versions will remain operational next to the latest version. It is possible that an 
      older version will eventually be switched off, any clients using this version will be notified early on and 
      given time to update their connected application.</span>

    ## Limitations
      <span>For security reasons the amount of requests that can be made to the web service is limited to 500 
      requests per minute. This is to prevent brute force attempts to get access to data as well as preventing 
      impact of a large amount of requests that could be caused by a bug in a client program accessing the 
      web service. Once a client program using the web services has been deployed and is functioning 
      correctly, the upper limit of allowed requests can be increased by PostNL upon request.</span>

    ## Label changes
      <span>The label design and the data it contains has been agreed upon with many different postal parties. It 
      is therefore not allowed to change the label provided by our API in any way. This means you may not 
      change the .pdf or .zpl file or make changes to the physical label after it has been printed. Using the 
      untampered label provided by our API will make sure your label complies with international 
      agreements and not cause delays or issues in processing your shipment. If you have suggestions or 
      wishes to change the label in any way please specify this request to your PostNL/Spring contact 
      person.</span>

    ## Integration guide
      <span>Below figure illustrates which API requests to integrate for each of the two types of integrations. If 
      your want to use parcel labels generated by our system follow the instructions for integration with
      parcel label generator. If your system is generating the labels follow the instructions for integration 
      without parcel label generator. The benefit of using our label generator is that you don’t need to 
      create and maintain your own label templates. </span>
      <img src="static\img\integration_guide.png" />
  termsOfService: https://www.postnl.nl/en/
  contact:
    # name: PostNL
    # url: https://www.postnl.nl/en/
    email: xxx@postnl.nl
  version: ver 7.2 - openapi 3.1.0
  x-logo:
    url: 'static/img/logo.jpg'
    altText: Petstore logo
  license:
    name: MIT
    url: https://docs.discourse.org/LICENSE.txt

servers:
  - url: https://clients.postnl.post/v7/api
    description: Production environment
  - url: https://clients.postnl.a02.cldsvc.net/v7/api
    description: Acceptance environment

tags:
  - name: Label and closeout
  - name: Tracking
  - name: Special purpose

paths:
  "/contentlabel/generate":
    post:
      summary:  Generate packet labels
      description: ""
      tags:
        - Label and closeout
      operationId: generateContentLabel
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ContentLabel"

      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                required: [status, data, message]
              example:
                status: "success"
                data:
                  item: "LX214797347NL"
                  rfid: null
                  url: "<link-to-label>"
                  base64string: "<base64string>"
                message:
                  code: "TTI_API_0035"
                  payload: "Label generated"

components:
  schemas:
    "$ref": "./schemas/schemas.yaml"
    

externalDocs:
  description: Find out more about portal
  url: https://tracktraceportal-postnl.a02.cldsvc.net/
