<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JBP 000</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- /STYLES -->

    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script src="{{ url_for('static', filename='js/echarts.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/nouislider.js')}}"></script>

    <script src="{{ url_for('static', filename='js/vis.js')}}"></script>
    <script src="{{ url_for('static', filename='js/yc.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dn.js')}}"></script>
    <!-- /SCRIPTS -->

</head>

<body>
    <div class="grid-container">
        <!-- start -- network graph  -->
        <div class='network-grid'>
            <div id="network-plot" class="vis-component w-100 h-100"></div>
            <span class="bottomright">
                <label for="intersection">operation: </label>
                <select id="select-union" class="vis-component-select mr-4" name="select-union">
                    <option value='1'>union</option>
                    <option value='0'>intersection</option>
                </select>

                <label for="select-categorized-feature">features: </label>
                <select class="vis-component select-features select-categorized-feature"
                    name="select-categorized-feature"></select>
                X
                <select class="vis-component select-features select-categorized-feature mr-4"
                    name="select-categorized-feature"></select>

                <label for="select-network-measures">measures: </label>
                <select id="select-network-measures" class="vis-component-select mr-4" name="select-network-measures">
                    <option value='1'>---------none---------</option>
                    <option value='2'>intermediate entity</option>
                    <option value='3'>intermediate relationship</option>
                    <option value='4'>maximum clique</option>
                </select>

                <input type="checkbox" id="cbx-is-weighted" class="cbx" name="cbx-weighted">
                <label class="mr-4" for="cbx-weighted">weighted</label>
            </span>
        </div>
        <!-- end -- network graph  -->

        <!-- start -- network statistics  -->
        <div id="network-statistics-grid" class="network-statistics-grid">
            <div id="barchart-plot" class="vis-component w-100 h-100"></div>
            <span class="bottomright">
                <label for="intersection">features: </label>
                <select class="vis-component select-features select-statistical-feature"></select>
                X
                <select class="vis-component select-features select-statistical-feature"></select>

                <button id="btn-bar-rotate" class="btn btn-primary-outline btn-xs mx-2">
                    <i class="fa fa-repeat"></i>
                </button>
            </span>
        </div>
        <!-- end -- network statistics  -->

        <!-- start -- data upload & preview  -->
        <div id="data-preview-grid" class="data-preview-grid">
            <div class="inner-grid-logo img"></div>

            <div class="inner-grid-tables px-3">
                <legend>Data Preview:</legend>
                <!-- start tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel-entities">
                            <i id="tab-icon-entities" class="fa fa-square-o"></i> Entities
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel-relationships">
                            <i id="tab-icon-relationships" class="fa fa-square-o"></i> Relationships
                        </a>
                    </li>
                </ul>
                <!-- end tabs -->

                <!-- start -- tab panels -->
                <div class="tab-content">
                    <div id="panel-entities" class="container tab-pane active"><br>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <input type="file" id="file-entities" name="file-entities">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col'>
                                <div>
                                    <select style="font-family: Georgia;" id="select-entities-sep"
                                        name="select-entities-sep">
                                        <option value='' selected>- delimited -</option>
                                        <option value=','>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ,
                                        </option>
                                        <option value=';'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ;
                                        </option>
                                        <option value='\t'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; \t
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class='col'>
                                <div>
                                    <select style="font-family: Georgia;" id="select-entities-header"
                                        name="select-entities-header">
                                        <option value='' selected>- header -</option>
                                        <option value='0'>1st line</option>
                                        <option value='1'>none</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="warning-entities" class="col-8"></div>
                            <div class="col-4">
                                <div class="float-right">
                                    <button class="btn-refresh-preview-panel btn btn-primary-outline btn-xs mr-2 " value='0'>
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                    <button class="btn-preview btn btn-primary-outline btn-xs " value='0'>
                                        <i class="fa fa-table"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="mt-1">
                            <table class="table" id="table-entities"></table>
                        </div>
                    </div>

                    <div id="panel-relationships" class="container tab-pane fade"><br>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <input type="file" id="file-relationships" name="file-relationships">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col'>
                                <div>
                                    <select style="font-family: Georgia" id="select-relationships-sep"
                                        name="select-relationships-sep">
                                        <option value=''>- delimited -</option>
                                        <option value=','>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ,
                                        </option>
                                        <option value=';'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ;
                                        </option>
                                        <option value='\t'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; \t
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class='col'>
                                <div>
                                    <select style="font-family: Georgia;" id="select-relationships-header"
                                        name="select-relationships-header">
                                        <option value=''>- header -</option>
                                        <option value='0'>1st line</option>
                                        <option value='1'>none</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="warning-relationships" class="col-8"></div>
                            <div class="col-4">
                                <div class="float-right">
                                    <button class="btn-refresh-preview-panel btn btn-primary-outline btn-xs mr-2 " value='1'>
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                    <button class="btn-preview btn btn-primary-outline btn-xs" value='1'>
                                        <i class="fa fa-table"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="mt-1">
                            <table class="table" id="table-relationships"></table>
                        </div>
                    </div>
                </div>
                <!-- end -- tab panels -->
            </div>

            <div class="inner-grid-submit py-1">
                <div id="warning-main" class="float-left pl-5 "></div>
                <div id="btn-confirm" class="float-right pr-3 ">
                    <button class="btn btn-outline-success btn-sm my-1" > confirm</button>
                </div>
            </div>
        </div>
        <!-- end -- data upload & preview  -->


        <div class="range-slider-grid py-2">
            <!-- start -- range slider  -->
            <div id="range-slider-control" class="range-slider-control">
                <div id="range-slider" class="range-slider"></div>
                <!-- start -- button for slider -->
                <span class="bottomright">
                    <button class='btn-slider-step  btn-xs' value='-1'>
                        <i class="fa fa-step-backward" aria-hidden="true"></i>
                    </button>
                    <button id="btn-play-pause" class='btn-xs' value='0'>
                        <i id="icon-play-pause" class="fa fa-play" aria-hidden="true"></i>
                    </button>
                    <button class='btn-slider-step btn-xs' value='1'>
                        <i class="fa fa-step-forward" aria-hidden="true"></i>
                    </button>
                </span>
                <!-- end -- button for slider -->
            </div>
            <!-- end -- range slider  -->

            <div id="range-slider-side" class="range-slider-side container">
                <div class="row">
                    <div class="col-5" align="right">
                        <select id="handles" class="vis-component-select" >
                            <option value="1" selected>discrete</option>
                            <option value="2">continuous</option>
                            <option value="-3">continuous(arise) </option>
                            <option value="3"> continuous(die out) </option>
                        </select>
                    </div>
                    <div id="line-img" class="col-7 mt-2">         
                        
                    </div>
                </div>
            </div>
        </div>



        <div  class="timeline-grid">
            <!-- start -- timeline -->
            <div class="timeline-chart">
                <div id="timeline-plot" class="vis-component w-100 h-100"></div>
            </div>
            <!-- end  -- timeline -->

            <!-- start -- datazoom range -->
            <div id="timeline-zoom-range-grid" class="timeline-zoom-range-grid">
                <legend>Zoom Range:</legend>
                <div class="block">
                    <label for="select-zoom">from</label>
                    <select id="zoom-from" class="vis-component" name="select-zoom"></select>
                </div>
                <div class="block">
                    <label for="select-zoom">to</label>
                    <select id="zoom-to" class="vis-component" name="select-zoom"></select>
                </div>
            </div>
            <!-- end -- datazoom range -->

            <!-- start -- summary statistics -->
            <div id="timeline-measures-grid" class="timeline-measures-grid pb-2">
                <legend>Measurements:</legend>
                <input type="checkbox" class="cbx cbx-measurement" name="active nodes" value='0' />
                    <span>active nodes</span><br />
                <input type="checkbox" class="cbx cbx-measurement" name="active nodes (pct)" value='1' />
                    <span>active nodes(pct)</span> <br />
                <input type="checkbox" class="cbx cbx-measurement" name="active relations" value='2' />
                    <span>active relations</span> <br />
                <input type="checkbox" class="cbx cbx-measurement" name="actual density" value='3' />
                    <span>actual density</span> <br />
                <input type="checkbox" class="cbx cbx-measurement" name="maximum clique" value='4' />
                    <span>maximum clique</span> <br />
                <input type="checkbox" class="cbx cbx-measurement" name="disconnected groups" value='5' />
                    <span>disconnected groups</span> <br />
            </div>
            <!-- end -- summary statistics -->
        </div>

    </div>

</body>
<script>
    function changeHandleBackground(value){
        $('#line-img').css("background-image","url(/static/img/handle_background_" + value + ".png)");
    }

    /*-- start -- initializing function on controls*/
    $(document).ready(function () {
        // network-grid
        $('#select-union').change(function () {
            gIsUnion = parseInt(this.value);
            gSlider.translation(0);
        });
        $('.select-categorized-feature').change(function () {
            $('.select-categorized-feature').map((i, el) => { gCate[i] = el.value })
            // gCate = this.value;
            gSlider.translation(0);
        });
        $('.select-statistical-feature').change(function () {
            $('.select-statistical-feature').map((i, el) => { gCateS[i] = el.value })
            gBarChart.update(gDn.serializeStatistics(gGraph, false, gCateS));
        });
        $('#select-network-measures').change(function () {
            gGraphMeasure = parseInt(this.value);
            gSlider.translation(0);
        });
        $('#cbx-is-weighted').click(function () {
            gIsWeighted = this.checked ? 1 : 0;
            gSlider.translation(0);
        });

        // network-statistics-grid
        $('#btn-bar-rotate').click(function () {
            gCateS[2] = gCateS[2] ? 0 : 1;
            gBarChart.update(gDn.serializeStatistics(gGraph, false, gCateS));
        });
        $('.btn-preview').click(function () {
            previewData(this);
        });
        $('.btn-refresh-preview-panel').click(function () {
            refreshPreviewData(this);
        });
        $('#btn-confirm').click(function () {
            let flag = false

            let warningDiv = yc.cleanedElement("#warning-main")

            if (gDataParam?.entities?.columns === undefined) {
                showMsg(warningDiv, 'entities data not valid');
                flag = true;
            }
            if (gDataParam?.relationships?.columns === undefined) {
                showMsg(warningDiv, 'relationships data not valid');
                flag = true;
            }
            if (flag) return;

            var formData = new FormData()
            formData.append("param", JSON.stringify(gDataParam))

            showMsg(warningDiv, '<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>', false);

            $.ajax({
                type: "Post",
                url: "/process",
                data: formData,
                dataType: "json",
                cache: false,//上传文件无需缓存
                processData: false,//用于对data参数进行序列化处理 这里必须false
                contentType: false, //必须
                success: function (res) {
                    yc.cleanedElement("#warning-main");
                    initializeComponents();
                    showMsg(warningDiv, 'success', false);
                    loadData(gDn, res['entities'], res['relationships']);
                    setTimeout(function () {
                        yc.cleanedElement("#warning-main");
                    }, 3000);
                },
                error: function (xhr, status, error) {
                    yc.cleanedElement("#warning-main");
                    showMsg(warningDiv, 'ERROR');
                    var errorMessage = xhr.status + ': ' + xhr.statusText
                    alert(`Error - ${errorMessage} - ${status} - ${error}`);
                }
            });
        });

        // range-slider-grid
        var move = v => gSlider.translation(v);
        var autoPlay = new yc.MySetInterval(function () { move(1) }, 1200);
        $('.btn-slider-step').click(function () {
            move(parseInt($(this).val()));
        });
        $('#btn-play-pause').click(function () {
            let ico = $("#icon-play-pause");
            if ($(this).val() == '0') {
                yc.replaceIcon(ico, 'fa-play', 'fa-pause');
                autoPlay.play();
                $(this).val("1");
            } else {
                yc.replaceIcon(ico, 'fa-pause', 'fa-play');
                autoPlay.pause();
                $(this).val("0");
            }
        });
        $('#handles').change(function () {
            changeHandleBackground(this.value)



            gSlider.updateHandles(parseInt(this.value), gLineSummary.dataZoomBoundary());
            gSlider.bindNetwork(gNetwork, gBarChart);
        });


        // datazoom range
        $('select[name="select-zoom"]').change(function () {
            let dataZoomSelects = $('select[name="select-zoom"]');
            let idxFrom = dataZoomSelects[0].selectedIndex;
            let idxTo = dataZoomSelects[1].selectedIndex;
            if (idxFrom >= idxTo) {
                if (this.id == "zoom-from")
                    dataZoomSelects[1].selectedIndex = dataZoomSelects[0].selectedIndex + 1;
                if (dataZoomSelects[1].selectedIndex == -1) {
                    dataZoomSelects[1].selectedIndex = dataZoomSelects[0].selectedIndex;
                    dataZoomSelects[0].selectedIndex--;
                }
                else
                    dataZoomSelects[0].selectedIndex = dataZoomSelects[1].selectedIndex - 1;
                if (dataZoomSelects[0].selectedIndex == -1) {
                    dataZoomSelects[0].selectedIndex++;
                    dataZoomSelects[1].selectedIndex++;
                }
            }
            gLineSummary.update({
                dataZoom: {
                    startValue: dataZoomSelects[0].selectedIndex,
                    endValue: dataZoomSelects[1].selectedIndex
                }
            });
            gSlider.setRange(gLineSummary.dataZoomBoundary());
        });

        // select summary statistics
        $('.cbx-measurement').click(function () {
            Object.entries(gMeasurements).forEach(([k, v]) => { v.show = false })
            $('.cbx-measurement:checkbox:checked').each((i, e) => {
                let key = e.value;
                let name = e.name
                let show = e.checked;
                let data;
                if (!gMeasurements.hasOwnProperty(key)) {
                    switch (key) {
                        case '0':
                            data = gDn.getListNrOfVertices();
                            break;
                        case '1':
                            data = gDn.getListPctOfVertices();
                            break;
                        case '2':
                            data = gDn.getListNrOfEdges();
                            break;
                        case '3':
                            data = gDn.getListActiveDensity();
                            break;
                        case '4':
                            data = gDn.getListMaximumClique();
                            break;
                        case '5':
                            data = gDn.getListNrOfdisconnected();
                            break;
                    }
                    gMeasurements[key] = {
                        data: data,
                        name: name
                    }
                }
                gMeasurements[key].show = show;
            });
            gLineSummary.updateTimeline();
        });
    });
    /*-- end -- initializing function on controls*/

    function initializeComponents() {
        if (gSlider != undefined) gSlider.destory(); gSlider = undefined;
        if (gNetwork != undefined) gNetwork.destory(); gNetwork = undefined;
        if (gLineSummary != undefined) gLineSummary.destory(); gLineSummary = undefined;
        if (gBarChart != undefined) gBarChart.destory(); gBarChart = undefined;

        gCate = undefined;
        gCateS = undefined;
        gGraph = undefined;
        gGraphAdj = undefined;
        gIsUnion = 1;
        gIsWeighted = 0;
        gGraphMeasure = 1;

        gMeasurements = {};
        gDn = new dn.DynamicNetwork();
        yc.cleanedElement('.vis-component');
        $('.vis-component-select').val('1');
        changeHandleBackground('1')
        $('.cbx').prop('checked', false);
    }



    /*-- start -- supporting functions for data preview and data submit */
    /*
    show data from ajax response to table
    param {
        table: Jquery entity,
        res: json response from ajax 
        isRelationships: int 0/1
    }
    */
    function tableShowPreview(table, res, isRelationships) {
        // -- start -- table header
        let th = "";
        res.columns.forEach((col, i) => {
            if (isRelationships) {
                th += `
                    <th>
                        <select name='select-link-feature' onchange='checkLinkFeature(this)'>
                            <option value='0'>${i}</option>
                            <option value='1'>time</option>
                            <option value='2'>i</option>
                            <option value='3'>j</option>
                        </select>                                
                    </th>
                    `;
            } else {
                th += `
                    <th>
                        <input type="text" class="form-control form-control-sm" value="${String(col).toLowerCase()}" aria-label="Small">              
                    </th>
                    `;
            }
        });
        table.append(`<thead class="thead-light"> <tr>${th}</tr> </thead>`);
        // -- end -- table header

        // -- start -- table body
        let tb = ""
        res.data.forEach(row => {
            let str = "";
            row.forEach(cell => {
                str += `<td>${cell}</td>`;
            })
            tb += `<tr>${str}</tr>`;
        });
        table.append(`<tbody>${tb}</tbody>`);
        // -- end -- table body

        // -- start -- table foot
        let tf = "";
        res.columns.forEach((col, i) => {
            if (i == res.columns.length - 1) {
                tf += `<td><button class="btn btn-primary-outline btn-xs float-right" value="${isRelationships}" onclick="submitData(this)" ><i class="fa fa-upload"></i></button></td>`
            } else {
                tf += `<td></td>`
            }
        });
        table.append(`<tfoot> <tr> ${tf} </tr> </tfoot>`);
        // -- end -- table foot
    }

    /*
    check selected features of relationship, ensure time, i , j is unique
    param {
        select: <select> entity,
    }
    */
    function checkLinkFeature(select) {
        if (select.selectedIndex > 0) {
            let linkFeatureSelects = $("select[name='select-link-feature']")
            linkFeatureSelects.each((i, e) => {
                if (e != select && e.selectedIndex == select.selectedIndex) {
                    e.selectedIndex = 0;
                }
            });
        }
    }

    /*
    post file and parameters by ajax for previewing
    param {
        button: <button> entity,
    }
    */
    function previewData(button) {
        let isRelationships = parseInt(button.value);
        let str = isRelationships ? "relationships" : "entities";

        let fileSelector = `#file-${str}`;
        let separatorSelector = `#select-${str}-sep`;
        let headerSelecotr = `#select-${str}-header`;
        let tableSelector = `#table-${str}`;
        let warningDivSelector = `#warning-${str}`;
        let tabIconSelector = `#tab-icon-${str}`;

        delete gDataParam[str];

        yc.replaceIcon($(tabIconSelector), "fa-check-square-o", "fa-square-o")

        let warningDiv = yc.cleanedElement(warningDivSelector);
        let table = yc.cleanedElement(tableSelector);

        let toReturn = false

        let fileObj = $(fileSelector)[0].files[0]

        if (typeof (fileObj) == "undefined" || fileObj.size <= 0) {
            showMsg(warningDiv, 'file not selected');
            toReturn = true;
        }else{
            let limit = '10MB'
            if (!yc.limitFileSize(fileObj, limit)) {
                showMsg(warningDiv, `file cannot exceed ${limit}`);
                toReturn = true;
            }
        }

        let sep = $(separatorSelector).val()
        if (sep === '') {
            showMsg(warningDiv, 'separator not selected');
            toReturn = true;
        }

        let noneHeader = $(headerSelecotr).val();
        if (noneHeader === '') {
            showMsg(warningDiv, 'header not selected');
            toReturn = true;
        }

        if (toReturn) return;

        var param = JSON.stringify({
            'sep': sep,
            'noneHeader': parseInt(noneHeader),
            'isRelationships': isRelationships
        });

        var formData = new FormData();
        formData.append("file", fileObj);
        formData.append("param", param);
        
        $.ajax({
            type: "Post",
            url: "/preview",
            data: formData,
            dataType: "json",
            cache: false,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res['status'] == 200) {
                    gDataParam[res.title] = res.param
                    tableShowPreview(table, res.table, isRelationships);
                } else {
                    showMsg(warningDiv, res['msg']);
                }
            },
            error: function (xhr, status, error) {
                showMsg(warningDiv, 'ERROR');
                var errorMessage = xhr.status + ': ' + xhr.statusText
                alert(`Error - ${errorMessage} - ${status} - ${error}`);
            },
            complete: function (data) {
                $(fileSelector).val(''); // this will reset the form fields
            }
        });
    }

    /*
    refresh tab and panel
    param {
        button: <button> entity,
    }
    */
    function refreshPreviewData(button) {
        let isRelationships = parseInt(button.value);
        let str = isRelationships ? "relationships" : "entities";

        delete gDataParam[str];

        let fileSelector = `#file-${str}`;
        $(fileSelector).val("");

        let separatorSelector = `#select-${str}-sep`;
        $(separatorSelector).prop('selectedIndex', 0);

        let headerSelecotr = `#select-${str}-header`;
        $(headerSelecotr).prop('selectedIndex', 0);

        let warningDivSelector = `#warning-${str}`;
        yc.cleanedElement(warningDivSelector);

        let tableSelector = `#table-${str}`;
        yc.cleanedElement(tableSelector);

        let tabIconSelector = `#tab-icon-${str}`;
        yc.replaceIcon($(tabIconSelector), "fa-check-square-o", "fa-square-o")
    }

    /*
    check column name of data preview, then submit if valid
    param {
        button : <button> entity, .value = 1 is relationships 
    }
    */
    function submitData(button) {
        let isRelationships = parseInt(button.value);
        let key = isRelationships ? 'relationships' : 'entities'

        let selectorStr, requiredCols, warningMsgAttribute, warningDivSelector;
        let warningMsgUnique = 'unique attribute name is required';
        let tabIconSelector = `#tab-icon-${key}`
        if (isRelationships) {
            selectorStr = "table#table-relationships thead tr th select";
            requiredcolValue = ['1', '2', '3'];
            warningDivSelector = "#warning-relationships";
            warningMsgAttribute = "attributes: 'time','i','j' are required";
        } else {
            selectorStr = "table#table-entities thead tr th input";
            requiredcolValue = ['id'];
            warningDivSelector = "#warning-entities";
            warningMsgAttribute = "one attribute: 'id' is required";
        }

        let warningDiv = yc.cleanedElement(warningDivSelector);
        let tabIcon = $(tabIconSelector);

        let colValue = [];
        let colText = [];
        $(selectorStr).each(function () {
            colValue.push($(this).val().toLowerCase());
            colText.push(isRelationships ? $(this).find("option:selected").text() : $(this).val().toLowerCase());
        });

        let flag = false
        if (!isRelationships && !yc.uniqueElements(colValue)) {
            showMsg(warningDiv, warningMsgUnique);
            flag = true;
        }
        if (!yc.uniqueSubArray(colValue, requiredcolValue)) {
            showMsg(warningDiv, warningMsgAttribute);
            flag = true
        }
        if (flag) {
            yc.replaceIcon(tabIcon, "fa-check-square-o", "fa-square-o")
        } else {
            showMsg(warningDiv, 'uploaded', false);
            setTimeout(function () {
                yc.cleanedElement(warningDivSelector);
            }, 2000);
            yc.replaceIcon(tabIcon, "fa-square-o", "fa-check-square-o")
            gDataParam[key].columns = colText
        }
    }

    /*
    append warning msg to div
    param {
        div : <div> entity
        msg : str
    }
    */
    function showMsg(div, msg, isWarning = true) {
        let textColor = isWarning ? 'text-danger' : 'text-success';
        div.append(`<div class="${textColor} font-weight-bold">${msg}</div>`)
    }
    /*-- end -- supporting functions for data preview and data submit */


    /*-- start -- global variable*/
    var gDataParam = {};
    // var gDataParam = {
    //     'entities': {
    //         'columns': ["id", "class", "gender"],
    //         'filename': "metadata_primaryschool.txt",
    //         'noneHeader': 1,
    //         'path': "static/uploads",
    //         'sep': "\\t"
    //     },
    //     'relationships': {
    //         'columns': ["time", "i", "j", "3", "4"],
    //         'filename': "primaryschool.csv",
    //         'noneHeader': 1,
    //         'path': "static/uploads",
    //         'sep': "\\t"
    //     }
    // };
    var gIsWeighted = 0;
    var gIsUnion = 1;
    var gGraphMeasure = 1;
    var gCate; // [str:feature1, str:feature2]
    var gCateS; //[str:feature1, str:feature2, int:isHorizontalBar]

    var gGraph;
    var gGraphAdj;

    var gMeasurements = {}; //{0：{data,name,show}}

    var gDn = new dn.DynamicNetwork();

    var gSlider;
    var gLineSummary;
    var gNetwork;
    var gBarChart;
    /*-- end -- global variable*/


    function loadData(dn, nodes, links) {
        dn.addNodes(nodes);
        dn.addRelationships(links);
        var select = $('.select-features');
        Object.keys(dn.features).forEach((f, i) => {
            if (i == 0) {
                gCate = [f, f]
                gCateS = [f, f, 0]
            }
            select.each(function () {
                $(this).append(
                    `
                    <option value='${f}'>
                        ${f}
                    </option>
                    `
                )
            })
        });


        var zoomFrom = document.getElementById("zoom-from")
        var zoomTo = document.getElementById("zoom-to")

        dn.timeSeries.forEach((e, i) => {
            let optionF = document.createElement("option");
            let optionT = document.createElement("option");
            optionF.textContent = e;
            optionT.textContent = e;
            optionF.value = e;
            optionT.value = e;
            zoomFrom.appendChild(optionF);
            zoomTo.appendChild(optionT);
        });
        zoomFrom.selectedIndex = 0;
        zoomTo.selectedIndex = dn.timeSeries.length - 1;

        gLineSummary = new vis.LineSummary("timeline-plot");
        gNetwork = new vis.Network("network-plot");
        gBarChart = new vis.BarChart("barchart-plot");
        gSlider = new vis.Slider('range-slider', gLineSummary.dataZoomBoundary(), 1)

        gLineSummary.triggerRangeSlider(gSlider, zoomFrom, zoomTo);
        gSlider.bindNetwork(gNetwork, gBarChart);



        /*-- start -- resize diagram */
        window.onresize = function () {
            gLineSummary.resize();
            gNetwork.resize();
            gBarChart.resize();
        }
    }

    function benchMark(times){
        let data = []
        let from = '31220';
        let to = '31800'
        for(let i = 0; i < times; i++){
            var t0 = performance.now();
            gDn.unionGraph(from,to);
            var t1 = performance.now();

            var t2 = performance.now();
            gDn.intersectionGraph(from,to);
            var t3 = performance.now();
            data.push([t1-t0 , t3-t2]);
        }


        let csvContent = "data:text/csv;charset=utf-8," 
        + data.map(e => e.join(",")).join("\n");
        var encodedUri = encodeURI(csvContent);
        window.open(encodedUri);
    }

    function benchMark2(times){
        let data = []

        for(let i = 0; i < times; i++){
            var t0 = performance.now();
            let x = gDn.getListMaximumClique();
            var t1 = performance.now();

            data.push(t1-t0);
        }

        let csvContent = "data:text/csv;charset=utf-8," 
        + data.join("\n");
        var encodedUri = encodeURI(csvContent);
        window.open(encodedUri);
    }



</script>

</html>