<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JBP 000</title>
    <!-- STYLES -->


    <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- /STYLES -->
    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='js/echarts.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/nouislider.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vis.js')}}"></script>
    <script src="{{ url_for('static', filename='js/yc.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dn.js')}}"></script>

    <!-- /SCRIPTS -->



</head>

<body>
    <div class="grid_container">
        <div id="network" class="network"></div>

        <div id="side" class="side">
            <!-- <label for="fname">lower:</label>
            <input type="text" id="input-lower" name="input-lower"><br><br>
            <label for="lname">upper:</label>
            <input type="text" id="input-upper" name="input-upper"><br><br> -->
            <br><br><br><br><br><br>
            <label for="lname">idx:</label>
            <input type="text" id="input-idx" name="input-idx"><br><br>

            <input type="radio" id="union" name="merge" onclick="unionRadio(this)" value="1" checked />
            <label for="union">union</label><br>
            <input type="radio" id="intersection" name="merge" onclick="unionRadio(this)" value="0">
            <label for="intersection">intersection</label><br>
            <br><br>
            <select id="featureSelector" onchange="featureSelect(this)">
                <option value="class" selected>class</option>
                <option value="gender">gender</option>
            </select>
        </div>

        <div id="range-slider-box" class="range-slider-box">
            <div id="range-slider" class="range-slider"></div>
        </div>

        <div id="range-slider-side" class="range-slider-side">
            <select id="handles" onchange="handlersSelect(this)">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>

        <div id="timeline" class="timeline"></div>

        <div id="timeline-side-zoom-range" class="timeline-side-zoom-range">
            <legend>Zoom range:</legend>


            <div class="block">
                <label for="zoom-select">from</label>
                <select id="zoom-from" name="zoom-select" onchange="changeDataZoom()"></select>
            </div>

            <div class="block">
                <label for="zoom-select">to</label>
                <select id="zoom-to" name="zoom-select" onchange="changeDataZoom()"></select>
            </div>

            



        </div>

        <div id="timeline-side-measures" class="timeline-side-measures">
            <legend>Measurements:</legend>
            <input type="checkbox" /> measures <br />
            <input type="checkbox" /> measures <br />
            <input type="checkbox" /> measures <br />
            <input type="checkbox" /> measures <br />
            <input type="checkbox" /> measures <br />
            <input type="checkbox" /> measures <br />
            <input type="checkbox" /> measures <br />
            <input type="checkbox" /> measures <br />
            <input type="checkbox" /> measures <br />
            <input type="checkbox" /> measures <br />    
            <input type="checkbox" /> measures <br />
            <input type="checkbox" /> measures <br />
            <input type="checkbox" /> measures <br />
            <input type="checkbox" /> measures <br />             
        </div>


    </div>


    <script>




        /* global variable*/
        var gIsUnion = true;
        var cate = document.getElementById('featureSelector').value;
        var gGraph;



        /*function on controls*/
        function featureSelect(select) {
            cate = select.value;
            network.update(dn.serialize(gGraph, false, cate), cate);
        }

        function unionRadio(radioBtn) {
            gIsUnion = parseInt(radioBtn.value);
        }

        function handlersSelect(select){        
            slider.updateHandles(parseInt(select.value), line.dataZoomBoundary());
            slider.bindNetwork(network);
        }

        function changeDataZoom(){
            let dataZoomSelectors = document.getElementsByName("zoom-select");
            let idxFrom = dataZoomSelectors[0].selectedIndex;
            let idxTo = dataZoomSelectors[1].selectedIndex;
            if(idxFrom>idxTo){
                dataZoomSelectors[0].selectedIndex = idxTo;
                dataZoomSelectors[1].selectedIndex = idxFrom;
            }
            line.update({dataZoom:{
                startValue:dataZoomSelectors[0].selectedIndex,
                endValue:dataZoomSelectors[1].selectedIndex
            }});
            slider.setRange(line.dataZoomBoundary());
        }





        var links = JSON.parse('{{ links | safe}}').map(u => ({ t: u.t, i: u.i, j: u.j }));
        var nodes = JSON.parse('{{ nodes | safe}}');

        var dn = DynamicNetwork()
        dn.addNodes(nodes)
        dn.addRelationships(links)

        const timeData = dn.getTimeline();

        var zoomFrom = document.getElementById("zoom-from")
        var zoomTo = document.getElementById("zoom-to")

        timeData.forEach((e,i)=>{
            let optionF = document.createElement("option");
            let optionT = document.createElement("option");
            optionF.textContent = e;
            optionT.textContent = e;
            optionF.value = e;
            optionT.value = e;
            zoomFrom.appendChild(optionF);
            zoomTo.appendChild(optionT);
        });
        zoomFrom.selectedIndex=0;
        zoomTo.selectedIndex=timeData.length-1;




        const nrNodes = dn.getListNrOfVertices();
        const nrLinks = dn.getListNrOfEdges();
        const activeDensity = dn.getListActiveDensity();
        const disconnected = dn.getListNrOfdisconnected();
        const maxClique = dn.getListMaximumClique();


        var line = new vis.LineSummary('timeline')
        var network = new vis.Network('network')







        // start and end are percentage
        // function changeDataZoom(start, end) {
        //     start_q = yc.quantile(timeData, start)
        //     end_q = yc.quantile(timeData, end)
        //     option.dataZoom[0].start = start_q;
        //     option.dataZoom[0].end = end_q;
        //     myChart.setOption(option);
        //     vis.dataZoomScaleSlider(slider)
        // }




        var slider = new vis.Slider('range-slider', line.dataZoomBoundary(), 1)

        line.triggerRangeSlider(slider,zoomFrom, zoomTo);
        slider.bindNetwork(network);








        window.onresize = function () {
            line.resize();
            network.resize();
        }




    </script>


</body>

</html>