<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JBP 000</title>
    <!-- STYLES -->


    <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- /STYLES -->
    <!-- SCRIPTS -->
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/echarts.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/nouislider.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vis.js')}}"></script>
    <script src="{{ url_for('static', filename='js/yc.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dn.js')}}"></script>

    <!-- /SCRIPTS -->



</head>

<body>
    <div class="grid_container">
        <div id="network" class="network">network plot</div>

        <div id="side" class="side">

            <label for="fname">lower:</label>
            <input type="text" id="input-lower" name="input-lower"><br><br>
            <label for="lname">upper:</label>
            <input type="text" id="input-upper" name="input-upper"><br><br>
            <br><br><br><br><br><br>
            <label for="lname">idx:</label>
            <input type="text" id="input-idx" name="input-idx">
        </div>
        <div id="range-slider-box" class="range-slider-box">
            <div id="range-slider" class="range-slider">

            </div>
        </div>

        <div id="timeline" class="timeline"></div>


    </div>


    <script>


        var links = JSON.parse('{{ links | safe}}').map(u => ({ t: u.t, i: u.i, j: u.j }));
        var nodes = JSON.parse('{{ nodes | safe}}');

        var dn = DynamicNetwork()
        dn.addNodes(nodes)
        dn.addRelationships(links)

        const timeData = dn.getTimeline();
        const nrNodes = dn.getListNrOfVertices();
        const nrLinks = dn.getListNrOfEdges();
        const activeDensity = dn.getListActiveDensity();
        const disconnected = dn.getListNrOfdisconnected();
        const maxClique = dn.getListMaximumClique();

        var chartDom = document.getElementById('timeline');
        var myChart = echarts.init(chartDom);
        var option;








        // start and end are percentage
        function changeDataZoom(start, end) {
            start_q = yc.quantile(timeData, start)
            end_q = yc.quantile(timeData, end)
            option.dataZoom[0].start = start_q;
            option.dataZoom[0].end = end_q;
            myChart.setOption(option);
            vis.dataZoomScaleSlider(slider)
            var tooltips = slider.noUiSlider.getTooltips();
        }



        option = {
            title: {
                left: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    animation: false
                }
            },
            legend: {
                data: ['active nodes', 'active relations','active density','max clique','disconnected groups'],
                left: 80
            },
            toolbox: {
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    restore: {},
                    saveAsImage: {}
                },
                right:80
            },
            axisPointer: {
                link: { xAxisIndex: 'all' }
            },
            dataZoom: [
                {
                    type: 'inside',
                    show: true,
                    realtime: true,
                },
                {
                    type: 'slider',
                    handleSize: '80%',
                    textStyle: {
                        fontSize: 10
                    },
                    bottom: 15,
                    height: 20
                }],
            grid: {
                left: 80,
                right: 80,
                top: 28,
                bottom: 55
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                axisLine: { onZero: true },
                data: timeData
            },
            yAxis: {
                name: '',
                type: 'value',
            },
            series: [
                {
                    name: 'active nodes',
                    type: 'line',
                    lineStyle: {
                        width: .8
                    },
                    hoverAnimation: false,
                    data: nrNodes,
                    markLine: {
                        symbol: 'none',
                        data: [
                            { type: 'max', name: 'max' }
                        ],
                    },
                },
                {
                    name: 'active relations',
                    type: 'line',
                    lineStyle: {
                        width: .8
                    },
                    hoverAnimation: false,
                    data: nrLinks,
                    markLine: {
                        symbol: 'none',
                        data: [
                            { type: 'max', name: 'max' }
                        ],
                    },
                },
                {
                    name: 'active density',
                    type: 'line',
                    lineStyle: {
                        width: .8
                    },
                    hoverAnimation: false,
                    data: activeDensity,
                    markLine: {
                        symbol: 'none',
                        data: [
                            { type: 'max', name: 'max' }
                        ],
                    },  
                },
                {
                    name: 'max clique',
                    type: 'line',
                    lineStyle: {
                        width: .8
                    },
                    hoverAnimation: false,
                    data: maxClique,
                    markLine: {
                        symbol: 'none',
                        data: [
                            { type: 'max', name: 'max' }
                        ],
                    },
                },
                {
                    name: 'disconnected groups',
                    type: 'line',
                    lineStyle: {
                        width: .8
                    },
                    hoverAnimation: false,
                    data: disconnected,
                    markLine: {
                        symbol: 'none',
                        data: [
                            { type: 'max', name: 'max' }
                        ],
                    },
                },
            ]
        };

        option && myChart.setOption(option);

        window.onresize = function () { myChart.resize(); }

        myChart.on('dataZoom', function () {
            vis.dataZoomScaleSlider(slider);
            tooltips = slider.noUiSlider.getTooltips();
        });
        myChart.on('restore',function(){
            vis.dataZoomScaleSlider(slider);
            tooltips = slider.noUiSlider.getTooltips();
        });

        // <------------------ range-slider ------------------>

        var slider = vis.slider('range-slider', timeData)

        var inputLower = document.getElementById('input-lower');
        var inputUpper = document.getElementById('input-upper');

        var inputs = [inputLower, inputUpper]

        // vis.bindSliderInputs(slider, inputs)


        var tooltips = slider.noUiSlider.getTooltips();

        vis.mergeTooltips(slider, 5, ' - ');

       


        var connect = slider.querySelectorAll('.noUi-connect');
        var classes = ['c-1-color', 'c-2-color', 'c-3-color', 'c-4-color'];

        for (var i = 0; i < connect.length; i++) {
            connect[i].classList.add(classes[i]);
        }



        var relations = dn.relationships[31220]





        function pick(array){
            if(array.length){
                elem = array.pop();
                array.push(elem);
                return elem
            }
        }










    </script>


</body>

</html>