<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JBP 000</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
 

    <!-- /STYLES -->
    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='js/echarts.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/nouislider.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vis.js')}}"></script>
    <script src="{{ url_for('static', filename='js/yc.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dn.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js')}}"></script>

    <!-- /SCRIPTS -->



</head>

<body>
    <div class="grid-container">
        <div class='network-grid'>
            <div id="network" style="width:100; height:100%;" class="network"></div>
            <span class="bottomright mb-1">                
                <label for="intersection">operation: </label>
                <select id="union-select" name="union-select" onchange="unionSelect(this)">
                    <option value='1' >union</option>
                    <option value='0' >intersection</option>                    
                </select>

                <label for="intersection">category: </label>
                <select id="feature-select" name="feature-select" onchange="featureSelect(this)"></select>
            </span>
        </div>

        <div id="network-statistics-grid" class="network-statistics-grid"></div>

        <div id="data-preview-grid" class="data-preview-grid">
            <div class="inner-grid-1">
                <button id="bang">bang!</button> 
                <label for="sep-select">separator:</label>
                <select id="sep-select" name="sep-select">
                    <option value=',' selected>comma</option>
                    <option value=';'>semicolon</option>
                    <option value='\t'>tab</option>
                </select>
            </div> 
            <div class="inner-grid-2"></div>   
            <div class="inner-grid-3"></div> 
            <div class="inner-grid-4"></div>     
        </div>

        <div id="range-slider-grid" class="range-slider-grid">
            <div id="range-slider" class="range-slider"></div>
            <!-- start -- button for slider -->
            <span class="bottomright">
                <button class='btn-xs' value = '-1' onclick="move(this.value)">
                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                </button>
                <button class='btn-xs' value='0' onclick="playOrPause(this)">
                    <i id="play-or-pause" class="fa fa-play" aria-hidden="true"></i>
                </button>
                <button class='btn-xs' value = '1' onclick="move(this.value)">
                    <i class="fa fa-step-forward" aria-hidden="true"></i>
                </button>
            </span>
            <!-- end -- button for slider --> 
        </div>

        <div id="range-slider-side" class="range-slider-side">
            <div style="height: 50%;">
                <select id="handles" onchange="handlersSelect(this)">
                    <option class="imagebacked" style="background-image: url(/static/img/try.png);" value="1"  selected>discrete</option>
                    <option value="2" >continuous</option>
                    <option value="-3" >continuous(arise)</option>
                    <option value="3"> continuous(die out) </option>
                </select>
            </div>
            <div style="height: 50%;">
                shit
            </div>
        </div>

        <div id="timeline-grid" class="timeline-grid"></div>

        <div id="timeline-zoom-range-grid" class="timeline-zoom-range-grid">
            <legend>Zoom range:</legend>
            <div class="block">
                <label for="zoom-select">from</label>
                <select id="zoom-from" name="zoom-select" ></select>
            </div>
            <div class="block">
                <label for="zoom-select">to</label>
                <select id="zoom-to" name="zoom-select" ></select>
            </div>
        </div>
        <div id="timeline-measures-grid" class="timeline-measures-grid">
            <legend>Measurements:</legend>
            <input type="checkbox" class="cbxMeasurement" name="active nodes" value='0'/> active nodes <br />
            <input type="checkbox" class="cbxMeasurement" name="active nodes (pct)" value='1'/> active nodes (pct) <br />
            <input type="checkbox" class="cbxMeasurement" name="active relations" value='2'/> active relations <br />
            <input type="checkbox" class="cbxMeasurement" name="active density" value='3'/> active density <br />
            <input type="checkbox" class="cbxMeasurement" name="maximum clique" value='4'/> maximum clique <br />
            <input type="checkbox" class="cbxMeasurement" name="disconnected groups" value='5'/> disconnected groups <br />
        </div>
    </div>


    <script>

        $(document).ready(function(){
            

            $('#bang').click(function(){
                var data= {
                        data1: JSON.stringify({
                            'word': 'fuck',
                        }),
                    }		
                $.ajax({
                    type: 'POST',
                    url: "/preview",
                    data: data,  // 这个data是要post的数据
                    success: function(data){  // 这个data是接收到的响应的实体
                        alert(data['data'].word);                       
                    },
                    error: function(){
                        alert('ERROR')
                    }
                });
            });




            
            $('.cbxMeasurement').click(function(){
                Object.entries(gMeasurements).forEach(([k, v]) => { v.show = false })
                $('.cbxMeasurement:checkbox:checked').each((i, e) => {
                    let key = e.value;
                    let name = e.name
                    let show = e.checked;
                    if (!gMeasurements.hasOwnProperty(key)) {
                        gMeasurements[key] = {
                            data: gArrayFuncMeasurements[key](),
                            name: name
                        }
                    }
                    gMeasurements[key].show = show;            
                });
                line.updateTimeline();
            });
            
            $('select[name="zoom-select"]').change(function(){
                let dataZoomSelectors = $('select[name="zoom-select"]');
                let idxFrom = dataZoomSelectors[0].selectedIndex;
                let idxTo = dataZoomSelectors[1].selectedIndex;        
                if (idxFrom >= idxTo) {
                    if(this.id=="zoom-from")    
                        dataZoomSelectors[1].selectedIndex = dataZoomSelectors[0].selectedIndex + 1;
                        if(dataZoomSelectors[1].selectedIndex == -1){
                            dataZoomSelectors[1].selectedIndex = dataZoomSelectors[0].selectedIndex;
                            dataZoomSelectors[0].selectedIndex--;
                        }
                    else
                        dataZoomSelectors[0].selectedIndex = dataZoomSelectors[1].selectedIndex-1;
                        if(dataZoomSelectors[0].selectedIndex == -1){
                            dataZoomSelectors[0].selectedIndex++;
                            dataZoomSelectors[1].selectedIndex++;
                        }
                }                               
                line.update({
                    dataZoom: {
                        startValue: dataZoomSelectors[0].selectedIndex,
                        endValue: dataZoomSelectors[1].selectedIndex
                    }
                });
                slider.setRange(line.dataZoomBoundary());
            });          
        });





        /*-- start -- function on controls*/


        function featureSelect(select) {
            gCate = select.value;
            slider.translation(0);
        }

        function unionSelect(select) {
            gIsUnion = parseInt(select.value);
            slider.translation(0);
        }

        function handlersSelect(select) {
            slider.updateHandles(parseInt(select.value), line.dataZoomBoundary());
            slider.bindNetwork(network);
        }


        
        // button for slider
        function move(ctlValue){
            slider.translation(parseInt(ctlValue));
        }

        var autoPlay= new yc.MySetInterval(function(){move(1)},1200);
        
        function playOrPause(btn){   
            let ico = document.getElementById("play-or-pause");
            if (btn.value=='0'){
                ico.classList.remove('fa-play'); 
                ico.classList.add('fa-pause');
                autoPlay.play();
                btn.setAttribute("value", "1");
            }else{
                ico.classList.remove('fa-pause');
                ico.classList.add('fa-play'); 
                autoPlay.pause();
                btn.setAttribute("value", "0");
            }
        }
        /*-- end -- function on controls*/



        /*-- start -- global variable*/
        var gIsUnion = true;
        var gCate;
        var gGraph;
        var gGraphAdj;
        var gMeasurements = {}; //{0：{data,name,show}}
        var dn = DynamicNetwork()
        const gArrayFuncMeasurements = {
            0: dn.getListNrOfVertices,
            1: dn.getListPctOfVertices,
            2: dn.getListNrOfEdges,
            3: dn.getListActiveDensity,
            4: dn.getListMaximumClique,
            5: dn.getListNrOfdisconnected
        }  
        /*-- end -- global variable*/


        /* -- start -- read data*/
        var links = JSON.parse('{{ links | safe}}').map(u => ({ t: u.t, i: u.i, j: u.j }));
        var nodes = JSON.parse('{{ nodes | safe}}');        
        dn.addNodes(nodes)
        dn.addRelationships(links)
        /* -- end -- read data*/





        var select = document.getElementById('feature-select');
        Object.keys(dn.features).forEach((f,i) =>{            
            let opt = document.createElement('option');
            opt.textContent = f;
            opt.value = f;
            if(i==0){
                gCate=f;
                opt.selected=true;
            }
            select.appendChild(opt)
        });



        const timeData = dn.getTimeline();

        var zoomFrom = document.getElementById("zoom-from")
        var zoomTo = document.getElementById("zoom-to")

        timeData.forEach((e, i) => {
            let optionF = document.createElement("option");
            let optionT = document.createElement("option");
            optionF.textContent = e;
            optionT.textContent = e;
            optionF.value = e;
            optionT.value = e;
            zoomFrom.appendChild(optionF);
            zoomTo.appendChild(optionT);
        });
        zoomFrom.selectedIndex = 0;
        zoomTo.selectedIndex = timeData.length - 1;


        var line = new vis.LineSummary('timeline-grid')
        var network = new vis.Network('network')


        var slider = new vis.Slider('range-slider', line.dataZoomBoundary(), 1)

        line.triggerRangeSlider(slider, zoomFrom, zoomTo);
        slider.bindNetwork(network);



        /*-- start -- resize diagram */
        window.onresize = function () {
            line.resize();
            network.resize();
        }
        /*-- end -- resize diagram */




    </script>


</body>

</html>