
<!DOCTYPE html>
<html>
  <head>
    <title>TTINT</title>
    <!-- needed for adaptive design -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">

    <!--
    Redoc doesn't change outer page styles
    -->
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <!-- <redoc spec-url="{{url_for('static', filename='openapi.json')}}"></redoc> -->
    <redoc spec-url="{{url_for('static', filename='ttint_api.yaml')}}"></redoc>
    <script src="https://cdn.jsdelivr.net/npm/redoc@latest/bundles/redoc.standalone.js"> </script>
    <style>
      /* .sc-fcmMJX
      .kreCXU */
      .efZRCi{
        color:rgb(247,150,70);
        font-weight: bold;
        
      }
      .chOOHy{
        padding: 40px 0px 0px 0px;
      }
      .code-in-text{
        background-color: #555 !important;
      }
    </style>
  </body>
</html>
